*/obj/*
*/bin/*
*.suo
*.user
*.sdf
*.opensdf
*.pidb
*.userprefs
Win32Debugger/obj/*
DbgEng/MonoDevelop.D.Debugger.DbgEng/obj/*
DbgEng/MonoDevelop.D.Debugger.DbgEng/bin/*
DbgEng/DebugEngineWrapper/bin/*
